<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{{ y18n("Pipefy Documentation of Pipe '%s'", pipe.name) }}
		</title>
		<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print"/>
		<style>
			.id {
				float: right;
				color: grey;
				font-size: 1rem;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				clear: both;
			}
			.handlebar-replacement {
				background-color: blue;
				padding: 0.05em;
				border-radius: 0.01em;
			}
		</style>
	</head>
	<body>
		<h1 id="pipe-{{ pipe.id }}">
			{{ y18n("Pipefy Documentation of Pipe '%s'", pipe.name) }}
			<span class="id pipe-id">#{{ pipe.id }}</span>
		</h1>
		<!-- Table of Contents -->
		<h2 id="toc">
			{{ y18n('Table of Contents') }}
		</h2>
		<h3>
			{{ y18n('Phases') }}
		</h3>
		<ul>
			{% for phase in pipe.phases %}
				<li>
					<a href="#phase-{{ phase.id }}">{{ phase.name }}</a>
					{% if (phase.fields|length) > 0 %}
						<ul title="{{y18n("Fields")}}">
							{% for field in phase.fields %}
								<li>
									<a href="#field-{{ field.id }}" title="Go to field #{{field.id}}">
										{{ field.label }}
										({{ field.type }})
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if (phase.fieldConditions|length) > 0 %}
						<ul title="{{y18n("Conditions")}}">
							{% for condition in phase.fieldConditions %}
								<li>
									<a href="#condition-{{condition.id}}" title="Go to condition #{{condition.id}}">{{condition.name}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<h3>
			{{ y18n('E-Mail Templates') }}
		</h3>
		<ul>
			{% for mail_node in mails.edges %}
				{% set mail = mail_node.node %}
				<li>
					<a href="#mail-{{ mail.id }}">{{ mail.name }}</a>
				</li>
			{% endfor %}
		</ul>

		<h3>
			{{ y18n('Automations') }}
		</h3>
		<ul>
			{% for automation in automations %}
				{# {{automation|json_encode}} #}
				<li>
					<a href="#automation-{{ automation.id }}">{{ automation.name }}</a>
				</li>
			{% endfor %}
		</ul>

		<!-- Contents -->
		<div class="break-before"></div>
		{% for phase in pipe.phases %}
			{# {{ phase | json_encode }} #}
			{% include "components/phase.html.twig" with {"phase": phase} %}
		{% endfor %}

		<h2>
			{{ y18n('Automations') }}
		</h2>
		{% set relevant_automations = automations | filter(a => a.action_repo.id == pipe.id or a.event_repo.id == pipe.id) %}
		{% for automation in relevant_automations %}
			{# {{automation|json_encode}} #}
			{% include "components/automation.html.twig" with {"automation": automation} %}
		{% endfor %}

		<h2>
			{{ y18n('E-Mail Templates') }}
		</h2>
		{# {{ mails|json_encode}} #}
		{% for mail_node in mails.edges %}
			{% include "components/e-mail-template.html.twig" with {"mail": mail_node.node} %}
		{% endfor %}
	</body>
</html>
