<h2 id="phase-{{ phase.id }}">
  {{ y18n("Phase '%s'", phase.name) }}
  <span class="id phase-id">#{{ phase.id }}</span>
</h2>

{# {{ dump(phase) }} #}

<p>
  {{ phase.description }}
  {% if phase.done %}
    {{ y18n('This phase is a final phase.') }}
  {% endif %}
</p>
{% if (phase.fields|length) > 0 %}
  <h3>
    {{ y18n('Fields') }}
  </h3>
  {% for field in phase.fields %}
    <h4 id="field-{{ field.id }}">
      {{ field.label }}
      <span class="id field-id">
        #{{ field.internal_id }},
        {{ field.id }}
      </span>
    </h4>
    <p>
      {{ field.description }}
    </p>
    <p>
      {{ field.help }}
    </p>
  {% else %}
    {{ y18n('No fields are to be found in this phase.') }}
  {% endfor %}
{% else %}
  <p>
    {{ y18n('This phase does not have any fields.') }}
    {{ phase.fields|json_encode }}
  </p>
{% endif %}

{% if (phase.fieldConditions|length) > 0 %}
  <h3>
    {{ y18n('Field conditions') }}
  </h3>
  {% for condition in phase.fieldConditions %}
    {% include 'components/field-condition.html.twig' with {
      condition: condition
    } %}
  {% endfor %}
{% endif %}
